VITE_API_BASE_URL=https://hexagonal-63ip.onrender.com/api
VITE_DASHBOARD_URL=http://localhost:8050
VITE_UPLOADCARE_PUBLIC_KEY=replace-with-uploadcare-public-key

NEON_DB_HOST=replace-with-host
NEON_DB_NAME=replace-with-database
NEON_DB_USER=replace-with-user
NEON_DB_PASSWORD=replace-with-password
NEON_DB_PORT=5432
